body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #071021; /* Fondo principal */
  padding: 40px;
  color: white; /* Texto claro para mayor contraste */
}

/* Caja del formulario */
form {
  margin: 20px auto;
  width: 320px;
  padding: 25px;
  background: #0d1828; /* Un tono un poco más claro para contraste */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

/* Inputs */
input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #1f2a38;
  background: #0a1320;
  border-radius: 6px;
  color: #dce3f2;
}

input::placeholder {
  color: #8191a8;
}

/* Botón */
button {
  width: 95%;
  padding: 12px;
  background: #1167c4;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #0d56a3;
}

/* Video */
video {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
